<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ /*******************************************************************************
  ~  eGov suite of products aim to improve the internal efficiency,transparency,
  ~      accountability and the service delivery of the government  organizations.
  ~
  ~        Copyright (C) <2016>  eGovernments Foundation
  ~
  ~        The updated version of eGov suite of products as by eGovernments Foundation
  ~        is available at http://www.egovernments.org
  ~
  ~        This program is free software: you can redistribute it and/or modify
  ~        it under the terms of the GNU General Public License as published by
  ~        the Free Software Foundation, either version 3 of the License, or
  ~        any later version.
  ~
  ~        This program is distributed in the hope that it will be useful,
  ~        but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~        GNU General Public License for more details.
  ~
  ~        You should have received a copy of the GNU General Public License
  ~        along with this program. If not, see http://www.gnu.org/licenses/ or
  ~        http://www.gnu.org/licenses/gpl.html .
  ~
  ~        In addition to the terms of the GPL license to be adhered to in using this
  ~        program, the following additional terms are to be complied with:
  ~
  ~    	1) All versions of this program, verbatim or modified must carry this
  ~    	   Legal Notice.
  ~
  ~    	2) Any misrepresentation of the origin of the material is prohibited. It
  ~    	   is required that all modified versions of this material be marked in
  ~    	   reasonable ways as different from the original version.
  ~
  ~    	3) This license does not grant any rights to any user of the program
  ~    	   with regards to rights under trademark law for use of the trade names
  ~    	   or trademarks of eGovernments Foundation.
  ~
  ~      In case of any queries, you can reach eGovernments Foundation at contact@egovernments.org.
  ~  ******************************************************************************/
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="offices.org.egov.egovemployees">

    <uses-permission android:name="android.permission.CALL_PHONE" android:required="false" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" android:required="false" />

    <application
        android:name="org.egov.employee.application.EgovApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAcKReDsZC32qkAEUWqyIpoNSXfA420cN8" />

        <activity
            android:name="org.egov.employee.activity.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.egov.employee.activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="org.egov.employee.activity.Homepage"
            android:label="@string/title_activity_homepage"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>
        <activity
            android:name="org.egov.employee.activity.ViewTask"
            android:label="@string/title_activity_view_task"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="org.egov.employee.activity.ImageViewerActivity"
            android:label="@string/title_activity_image_view"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="org.egov.employee.activity.GrievanceActivity"
            android:label="@string/grievances_label"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="org.egov.employee.activity.NewGrievanceActivity"
            android:label="@string/newgrievance_label"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:name="org.egov.employee.activity.GrievanceLocPickerActivity"
            android:label="@string/pick_complaint_location"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:name="org.egov.employee.activity.GrievanceDetailsActivity"
            android:label="@string/grievancedetails_label"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="org.egov.employee.activity.SearchableActivity"
            android:label="@string/title_activity_searchable"
            android:theme="@style/AppTheme.Transparent">
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <service android:name="org.egov.employee.service.AddressService" />

    </application>

</manifest>