<?xml version="1.0" encoding="utf-8"?><!--
  ~ /*******************************************************************************
  ~  eGov suite of products aim to improve the internal efficiency,transparency,
  ~      accountability and the service delivery of the government  organizations.
  ~
  ~        Copyright (C) <2016>  eGovernments Foundation
  ~
  ~        The updated version of eGov suite of products as by eGovernments Foundation
  ~        is available at http://www.egovernments.org
  ~
  ~        This program is free software: you can redistribute it and/or modify
  ~        it under the terms of the GNU General Public License as published by
  ~        the Free Software Foundation, either version 3 of the License, or
  ~        any later version.
  ~
  ~        This program is distributed in the hope that it will be useful,
  ~        but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~        GNU General Public License for more details.
  ~
  ~        You should have received a copy of the GNU General Public License
  ~        along with this program. If not, see http://www.gnu.org/licenses/ or
  ~        http://www.gnu.org/licenses/gpl.html .
  ~
  ~        In addition to the terms of the GPL license to be adhered to in using this
  ~        program, the following additional terms are to be complied with:
  ~
  ~    	1) All versions of this program, verbatim or modified must carry this
  ~    	   Legal Notice.
  ~
  ~    	2) Any misrepresentation of the origin of the material is prohibited. It
  ~    	   is required that all modified versions of this material be marked in
  ~    	   reasonable ways as different from the original version.
  ~
  ~    	3) This license does not grant any rights to any user of the program
  ~    	   with regards to rights under trademark law for use of the trade names
  ~    	   or trademarks of eGovernments Foundation.
  ~
  ~      In case of any queries, you can reach eGovernments Foundation at contact@egovernments.org.
  ~  ******************************************************************************/
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.egovernments.egoverp"
    android:installLocation="auto"
    android:largeHeap="true"
    tools:ignore="UnusedAttribute">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission
        android:name="android.permission.CALL_PHONE"
        android:required="false" />
    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="false" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <supports-screens android:anyDensity="true" />

    <application
        android:name=".application.EgovAppConfig"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/egov_label"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAcKReDsZC32qkAEUWqyIpoNSXfA420cN8" />

        <activity
            android:name=".activities.SplashScreenActivity"
            android:label="@string/egov_label"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/egov_label"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activities.RegisterActivity"
            android:label="@string/createaccount_label"
            android:parentActivityName=".activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.egovernments.egoverp.activities.LoginActivity" />
        </activity>
        <activity
            android:name=".activities.GrievanceActivity"
            android:label="@string/grievances_label"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.egovernments.egoverp.activities.HomeActivity" />
        </activity>
        <!-- android:configChanges="keyboardHidden|orientation|keyboard" -->
        <activity
            android:name=".activities.NewGrievanceActivity"
            android:label="@string/newgrievance_label"
            android:parentActivityName=".activities.GrievanceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.GrievanceActivity" />
        </activity>

        <activity
            android:name=".activities.GrievanceLocPickerActivity"
            android:label="@string/pick_complaint_location"
            android:parentActivityName=".activities.GrievanceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:name=".activities.PropertyTaxSearchActivity"
            android:label="@string/propertytax_label"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.PropertyTaxViewActivity"
            android:label="@string/view_propertytax"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.PropertyTaxBreakupsDetails"
            android:label="@string/title_activity_property_tax_breakups_details"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activities.WaterChargesSearchActivity"
            android:label="@string/watertax_label"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".activities.WaterChargesViewActivity"
            android:label="@string/watertax_label"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppTheme">

        </activity>
        <activity
            android:name=".activities.GrievanceDetailsActivity"
            android:label="@string/grievancedetails_label"
            android:parentActivityName=".activities.GrievanceActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.GrievanceActivity" />
        </activity>
        <activity
            android:name=".activities.AccountActivationActivity"
            android:label="@string/verify_account_label"
            android:parentActivityName=".activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.egovernments.egoverp.activities.LoginActivity" />
        </activity>
        <activity
            android:name=".activities.ProfileEditActivity"
            android:label="@string/editprofile_label"
            android:parentActivityName=".activities.ProfileActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.egovernments.egoverp.activities.ProfileActivity" />
        </activity>
        <activity
            android:name=".activities.ProfileActivity"
            android:label="@string/profile_label"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.egovernments.egoverp.activities.HomeActivity" />
        </activity>
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/home_label"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.BaseActivity"
            android:label="@string/home_label"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:label="@string/account_recovery_label"
            android:parentActivityName=".activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.egovernments.egoverp.activities.LoginActivity" />
        </activity>
        <activity
            android:name=".activities.GrievanceImageViewerActivity"
            android:parentActivityName=".activities.GrievanceDetailsActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.egovernments.egoverp.activities.GrievanceDetailsActivity" />
        </activity>

        <service android:name=".network.UpdateService" />
        <service android:name=".network.AddressService" />

        <activity
            android:name=".activities.SearchResultActivity"
            android:label="@string/title_activity_search_result"
            android:theme="@style/AppTheme" />
        <activity android:name=".activities.PaymentGatewayActivity" />
        <activity
            android:name=".activities.CitizenCharterActivity"
            android:label="@string/citizen_charter_label"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.PdfViewerActivity"
            android:label="@string/title_activity_pdf_viewer"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.BuildingPlanActivity"
            android:label="@string/building_plan_label"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ResetPasswordActivity"
            android:label="@string/title_activity_reset_password"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".activities.SOSActivity"
            android:label="@string/sos_label"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.AboutUsActivity"
            android:label="@string/aboutus_label"
            android:theme="@style/AppTheme" />

        <receiver android:name=".listeners.SMSListener">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>


    </application>

</manifest>