<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.egovernments.egoverp"
    android:installLocation="auto"
    tools:ignore="UnusedAttribute">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <supports-screens android:anyDensity="true"/>

    <application
        android:name=".application.EgovAppConfig"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/egov_label"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBUXMcf50iTY1ekEJyFU-a27s03ZjLaVGs" />

        <activity
            android:name=".activities.SplashScreenActivity"
            android:label="@string/egov_label"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/egov_label"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activities.RegisterActivity"
            android:label="@string/createaccount_label"
            android:parentActivityName=".activities.LoginActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.egovernments.egoverp.activities.LoginActivity" />
        </activity>
        <activity
            android:name=".activities.GrievanceActivity"
            android:label="@string/grievances_label"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.egovernments.egoverp.activities.HomeActivity" />
        </activity>
        <!--android:configChanges="keyboardHidden|orientation|keyboard"-->
        <activity
            android:name=".activities.NewGrievanceActivity"
            android:label="@string/newgrievance_label"
            android:parentActivityName=".activities.GrievanceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.GrievanceActivity" />
        </activity>
        <activity
            android:name=".activities.PropertyTaxSearchActivity"
            android:label="@string/propertytax_label"
            android:parentActivityName=".activities.HomeActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.egovernments.egoverp.activities.HomeActivity" />
        </activity>
        <activity
            android:name=".activities.PropertyTaxBreakupsDetails"
            android:label="@string/title_activity_property_tax_breakups_details"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.PropertyTaxSearchActivity" />
        </activity>
        <activity
            android:name=".activities.WaterTaxSearchActivity"
            android:label="@string/watertax_label"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.egovernments.egoverp.activities.HomeActivity" />
        </activity>
        <activity
            android:name=".activities.GrievanceDetailsActivity"
            android:label="@string/grievancedetails_label"
            android:parentActivityName=".activities.GrievanceActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.GrievanceActivity" />
        </activity>
        <activity
            android:name=".activities.AccountActivationActivity"
            android:label="@string/verify_account_label"
            android:parentActivityName=".activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.egovernments.egoverp.activities.LoginActivity" />
        </activity>
        <activity
            android:name=".activities.ProfileEditActivity"
            android:label="@string/editprofile_label"
            android:parentActivityName=".activities.ProfileActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.egovernments.egoverp.activities.ProfileActivity" />
        </activity>
        <activity
            android:name=".activities.ProfileActivity"
            android:label="@string/profile_label"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.egovernments.egoverp.activities.HomeActivity" />
        </activity>
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/home_label"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.BaseActivity"
            android:label="@string/home_label"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:label="@string/account_recovery_label"
            android:parentActivityName=".activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.egovernments.egoverp.activities.LoginActivity" />
        </activity>
        <activity
            android:name=".activities.GrievanceImageViewerActivity"
            android:parentActivityName=".activities.GrievanceDetailsActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.egovernments.egoverp.activities.GrievanceDetailsActivity" />
        </activity>

        <service android:name=".network.UpdateService" />
        <service android:name=".network.AddressService" />


    </application>

</manifest>
