<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.egovernments.egov">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />


    <application
        android:name=".application.EGovApp"
        android:allowBackup="false"
        android:icon="@drawable/egov"
        android:label="@string/egov_label"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBUXMcf50iTY1ekEJyFU-a27s03ZjLaVGs" />

        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/egov_label"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.RegisterActivity"
            android:label="@string/createaccount_label"
            android:parentActivityName=".activities.LoginActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.egovernments.egov.activities.LoginActivity" />
        </activity>

        <activity
            android:name=".activities.GrievanceActivity"
            android:label="@string/grievances_label"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.egovernments.egov.activities.HomeActivity" />
        </activity>

        <activity
            android:name=".activities.PropertyActivity"
            android:label="@string/propertytax_label"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.egovernments.egov.activities.HomeActivity" />
        </activity>

        <activity
            android:name=".activities.PropertyDetailsActivity"
            android:label="@string/propertytax_label"
            android:parentActivityName=".activities.PropertyActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.egovernments.egov.activities.PropertyActivity" />
        </activity>

        <activity
            android:name=".activities.NewGrievanceActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/grievances_label"
            android:parentActivityName=".activities.GrievanceActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.GrievanceActivity" />
        </activity>

        <activity
            android:name=".activities.NewPropertyActivity"
            android:label="@string/propertytax_label"
            android:parentActivityName=".activities.PropertyActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.egovernments.egov.activities.PropertyActivity" />
        </activity>

        <activity
            android:name=".activities.NewPropertyDetailsActivity"
            android:label="@string/propertytax_label"
            android:parentActivityName=".activities.NewPropertyActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.egovernments.egov.activities.NewPropertyActivity" />
        </activity>

        <activity
            android:name=".activities.GrievanceDetailsActivity"
            android:label="@string/grievances_label"
            android:parentActivityName=".activities.GrievanceActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.GrievanceActivity" />
        </activity>

        <activity
            android:name=".activities.AccountActivationActivity"
            android:label="@string/verify_account_label"
            android:parentActivityName=".activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.egovernments.egov.activities.LoginActivity" />
        </activity>

        <activity
            android:name=".activities.ProfileEditActivity"
            android:label="@string/profile_label"
            android:parentActivityName=".activities.ProfileActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.egovernments.egov.activities.ProfileActivity" />
        </activity>

        <activity
            android:name=".activities.ProfileActivity"
            android:label="@string/profile_label"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.egovernments.egov.activities.HomeActivity" />
        </activity>

        <activity
            android:name=".activities.NotificationsActivity"
            android:label="@string/notifications_label"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.egovernments.egov.activities.HomeActivity" />
        </activity>

        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/home_label"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activities.BaseActivity"
            android:label="@string/home_label"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:label="@string/account_recovery_label"
            android:parentActivityName=".activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.egovernments.egov.activities.LoginActivity" />
        </activity>

        <service android:name=".network.UpdateService" />

        <service android:name=".network.UploadService" />

    </application>

</manifest>
